.col-padded {
    padding: 60px 30px 30px 30px;
    background-color: #FFF;
    overflow: hidden;
}
.col-padded-no-top {
	padding: 30px 30px 30px 30px;
	background-color: #FFF;
	overflow: hidden;
}
.col-shaded {
	background-color: rgba( 0, 0, 0, 0.02 );
}
.title-widget {
	color: #898989;
	font-size: 13px;
	font-weight: 300;
	line-height: 1;
	text-transform: uppercase;
	margin: 0 0 40px 0;
	border-left: 5px solid #ea5644;
	padding-left: 25px;
	position: relative;
	line-height: 18px;
}
.recent-news-wrap:not(:last-child) {
	margin-bottom: 19px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.05 );
}
.title-median {
	color: #636363;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	margin: 0 0 15px 0;
}
.title-median a{
	color: #363636;
}
.title-median a:hover, .title-median a:focus{
	color: #ea5644;
}
.title-median a {
	display: block;
}
.widget_recent_news .title-median {
	margin-bottom: 0;
}
.recent-news-date {
	font-size: 13px;
	font-weight: 300;
}
.recent-news-thumb {
	float: left;    
}
.recent-news-thumb img {
    width: 90px;
}
.recent-news-text {
    margin-left: 110px;
}
.recent-news-text img{
    margin-right: 20px;
    width: 90px;
}
.widget_recent_news .title-median {
    margin-bottom: 0;
}
.widget-container .recent-news-date {
    font-size: 12px;
    line-height: 14px;
    margin: 8px 0 15px 0;
    /*padding: 0 0 15px 0;*/
    /*border-bottom: 1px solid rgba( 0, 0, 0, 0.05 );*/
}
.widget-container .recent-news-text p {
    font-size: 14px;
    line-height: 24px;
    margin-top: -4px;
    color: #555;
    font-weight: 400;
}
.widget-container .recent-news-content {
    margin-top: 15px;
}
.widget-container .recent-news-content a {
    color: #ea5644;
}
.news-no-summary .recent-news-date {
    padding: 0;
    margin: 0 0 10px;
    border: none;
}
.news-no-summary .recent-news-thumb img {
    width: 70px;
}
.news-no-summary .recent-news-text {
    margin-left: 90px;
}
.news-mini-wrap {
    margin-top: 40px;
}
.news-mini-wrap .page-title {
    font-size: 18px;
    line-height: 22px;
}
.news-featured-image {
    margin-bottom: 25px;
    border-bottom: 10px solid rgba( 0, 0, 0, 0.05 );
}
.news-mini-wrap .news-featured-image {
    margin-bottom: 15px;
}
.news-meta {
    margin-top: 5px;
}
.news-meta span {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.news-meta span:not(:last-child) {
    padding-right: 10px;
    margin-right: 5px;
    border-right: 1px solid rgba( 0, 0, 0, 0.05 );
}
.news-summary {
    margin-top: 10px;
}
.news-summary p {
    font-size: 14px;
    margin: 0;
}
.news-body {
    margin-top: 20px;
}
.news-body p:last-child {
    margin-bottom: 0;
}
.news-tags {
    margin-top: 40px;
}
a.moretag {
	font-size: 12px;
	text-transform: uppercase;
	color: #ea5644;
}
.copy-text {
	font-size: 12px;
	line-height: 24px;
	margin: -4px 0 0 0;
	color: rgb(119, 119, 119);
	font-weight: 300;
}
.copy-text a{
	color: #e5ae47;
}
#k-subfooter{
	margin-top: 30px;
}
.wordcloud{
    text-align: center;
    margin-bottom: 30px;
}
.sub-nav > li{
    padding-top: 30px;
    padding-top: 30px;
}
.sub-nav > li > a{
    font-family: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #8d8d8d;
}
.sub-nav > li > a.active,
.sub-nav > li > a:hover{
    color: #444444;
}

/*Masonry Layout*/

#posts { margin: 30px auto 0; }
.post {
    margin: 0 0 25px;
    text-align: left;
    width: 100%;
    border: 1px solid #efefef;
}
.post img {
    width: 100%;
}
.post .image-desc {
    padding: 15px;
    margin-bottom: 0;
}

#grid.container .post img { padding: 0; }

/* Small devices */
@media (min-width: 430px) {
    #grid > #posts .post { width: 300px; }
    #grid > #posts .post.cs2 { width: 100%; }
    .post img { padding: 0; }
    #posts {margin-left: -20px;}
}

/* Medium devices */
@media (min-width: 768px) {
    #grid > #posts .post { width: 300px; }
    #grid > #posts .post.cs2 { width: 100%; }
    .post img { padding: 0; }
}

/* Medium devices */
@media (min-width: 992px) {
    #grid > #posts .post { width: 300px; }
    #grid > #posts .post.cs2 { width: 100%; }
}

/* Large devices */
@media (min-width: 1200px) {
    #grid > #posts .post { width: 300px; }
    #grid > #posts .post.cs2 { width: 742px; }
}

.image-desc-full li{
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    border-bottom: 1px solid #ededed;;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    color: #8d8d8d;
}
.image-desc-full li a{
    color: #e5ae47;
}
.image-desc-full li a:hover{
    border-bottom: 1px dotted #e5ae47;
}
.image-desc-full li:first-child {
    padding-top: 0 !important;
}
.image-desc-full li strong{
    float: left;
    width: 100px;
}
.image-desc-full .image-desc-meta{
    float: left;
}
.image-desc-full .keywords .image-desc-meta a{
    background-color: #FFF3DD;
    padding-left: 5px;
    padding-right: 5px;
    color: #5d5d5d;
    border-radius: 3px;
}
.image-desc-full .keywords .image-desc-meta a:hover{
    background-color: #FFDB9A;
    border-bottom: none;
}

/*Image overlays*/
.fixOverlayDiv{
    position: relative;
    width:100%; 
    padding:0px;
}
.OverlayText, .OverlayTextMain{
    bottom: 0;
    color: #FFF;
    left: 0;
    position: absolute;
    width: 100%;
    padding: 15px 15px;
    /*font-weight: 600;*/
}
.OverlayText{
    background: linear-gradient(rgba( 0, 0, 0, 0 ), rgba( 0, 0, 0, 1 ));
}
.OverlayTextMain{
    background: linear-gradient(rgba( 0, 0, 0, 0 ), rgba( 0, 0, 0, 0.3 ), rgba( 0, 0, 0, 0.5 ), rgba( 0, 0, 0, 0.7 ), rgba( 0, 0, 0, 0.8 ), rgba( 0, 0, 0, 0.9 ), rgba( 0, 0, 0, 0.95 ), rgba( 0, 0, 0, 1 )) !important;
}
.OverlayText .link{
    float: right;
}
.OverlayTextMain .mainpage{
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal !important;
    max-width: 60%;
    text-align: left;
    line-height: 24px;
}

